{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    题目列表
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <!--刷题汇报middle start-->
            <section class="panel">
                <div class="revenue-head">
                    <span>
                        <i class="icon-bar-chart"></i>
                    </span>
                    <h3>刷题汇报</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div id="toolbar_table_questions">
                            <form class="form-inline" role="form">
                                <div class="form-group">

                                    <select class="form-control" id="grade" name="grade">
                                        <option value="0">选择难度</option>
                                        {% for item in grades %}
                                            <option value="{{ item.0 }}"> {{ item.1 }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="category" name="category">
                                        <option value="0"> 选择分类</option>
                                        {% for item in category %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="status" name="status">
                                        <option value="2"> 选择状态</option>
                                        <option value="0"> 待刷</option>
                                        <option value="1"> 已刷</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <table id="table_questions" name="table_questions"
                               data-toggle="table"
                               data-unique-id="id"
                               data-id-table="advancedTable"
                                {# 分页方式：服务端、客户端分页 #}
                               data-side-pagination="server"
                               data-toolbar="#toolbar_table_questions"
                                {# queryPrams是一个函数名，表示查询的参数是该函数的返回值（后面会定义该函数） #}
                               data-show-columns="true"
                               data-page-list="[10, 25, 50, 100, ALL]"
                               data-pagination="true"
                               data-page-size="25"
                               data-pagination-first-text="首页"
                               data-pagination-pre-text="上一页"
                               data-pagination-next-text="下一页"
                               data-pagination-last-text="末页"
                               data-show-refresh="true"
                                {# 数据传递参数：queryParams是一个函数 #}
                               data-query-params="queryParams"
                                {# json格式=> 字典 => key => data-field #}
                               data-url="/apis/questions/"
                               data-show-export="true"
                               data-export-types="['excel']"
                               data-export-options='{
                            "fileName":"三创题库",
                            "worksheetName":"所有习题",
                            }'
                               class="table table-hover">
                            <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="id">序号
                                </th>
                                <th data-field="title">标题
                                </th>
                                <th data-field="grade">难度
                                </th>
                                <th>答题率
                                </th>
                                <th data-field="oper">
                                    操作
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </section>
            <!--刷题汇报middle end-->
        </div>
        <div class="col-md-3">
            <!--刷题汇报right start-->
            {% include 'right.html' %}
            <!--刷题汇报right end-->
        </div>
    </div>
{% endblock %}
{% block load_js %}
    <script src="{% static 'assets/bootstrap-table/bootstrap-table.js' %}"></script>
    <script src="{% static 'assets/bootstrap-table/locale/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap-table/tableExport.js' %}"></script>
    <script src="{% static 'assets/bootstrap-table/extensions/export/bootstrap-table-export.js' %}"></script>
    <script>
        $table = $("#table_questions");
        // 生成请求发送给服务端的请求数据
        function queryParams(tableParams) {
            // 定义返回数据
            var params = {};
            // 获取pagesize, offset, page
            console.log(tableParams);
            // 偏移量
            params['offset'] = tableParams.offset;
            // 当前第几页
            params['page'] = $table.bootstrapTable('getOptions').pageNumber;
            // 每页多少条数据
            params['limit'] = tableParams.limit;
            params['search'] = $("#search").val();
            // 工具栏上所有select,获取toolbar 的select对象有name，将名字和值取出
            $('#toolbar_table_questions').find('select[name]').each(
                function () {
                    params[$(this).attr('name')] = $(this).val();
                }
            );
            // 返回所有参数{"pagesize":20, "page":1, "offset":0}
            // /apis/questions/?pagesize=20&page=1&offset=0
            return params;
        }


        // 当修改查询参数时，重新加载table数据
        var $select_grade = $('#grade');
        var $select_category = $('#category');
        var $select_status = $('#status');

        $(function () {
            // 切换难度
            $select_grade.change(function () {
                $table.bootstrapTable('refresh');
            });
            // 切换分类
            $select_category.change(function () {
                $table.bootstrapTable('refresh');
            });
            // 切换状态
            $select_status.change(function () {
                $table.bootstrapTable('refresh');
            });
        });
    </script>
{% endblock %}

{% block load_css %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap-table/bootstrap-table.css' %}">
{% endblock %}
